.section {

}
.first {

}
.second {
  background-color: lightgrey;
  border-style: ridge;
  a {
   	display: block;
  }
}
.third {
}
.fourth {
}
section .fifth {
  width: 100%;
  /*width: 500px;
  overflow: hidden;*/
  .left_side {
    width: 50%;
    float: left;
    display: inline;
    /*display: block;
    width: 250px;
    display: block;
    float: left;*/
    a {
      color: gray;
    }
    a:hover {
      color: blue;
    }
  }
  .right_side {
    width: 50%;
    float: right;
    display: inline;
/*    display: block;*/
    a {
      color: gray;
    }
    a:hover {
      color: blue;
    }
  }
}
h1 {
  font-size: 30px;
  color: grey;
}
h3 {
  font-size:25px;
  text-decoration: underline;
}
.first_link {
	text-decoration: none;
}
.second_link {
 text-decoration: none;
 color: blue;
}
.second_link:hover {
 text-decoration: none;
 color: red;
}
.pic {
	width: 200px;
}
.caption {
	width: 220px;
}








